body {
  font-family: sans-serif;
}

.message {
  padding: 16px;
  margin: 16px auto;
  text-align: center;
  width: 70%;
  border-radius: 6px;
}

.info {
  background-color: #dcfce7;
  color: #166534;
}

.error {
  background-color: #ffe4e6;
  color: #9f1239;
}
